* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://i.pinimg.com/originals/ab/5f/cc/ab5fcc9dbec4abd43e5023663f2502ad.gif);
    padding: 0px;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
} 

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    margin-top: 15px;
    max-width: 1200px;
    gap: 20px;
}

.card {
    background-image: url(https://preview.redd.it/laihibkyx1o41.jpg?width=640&crop=smart&auto=webp&s=0b06174b000ce003dc1ce4d8c4f5e7de66ba9852);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 450px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.09);
}

.card-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
}

.pokemon-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.name {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: #333;
    margin: 10px 0;
}

.pokemon-type {
    color: #fff;
    padding: 8px 12px;
    border-radius: 20px;
    margin: 5px 0 15px;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
}

.normal {
    background-color: #A8A77A;
}

.grass {
    background-color: #7AC74C;
}

.psychic {
    background-color: #F95587;
}

.water {
    background-color: #6390F0;
}

.dragon {
    background-color: #6F35FC;
}

.ice {
    background-color: #96D9D6;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 10px 0 20px;
    color: #444;
    height: 60px;
}

.card-buttons {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card-button {
    padding: 10px 20px;
    border: none;
    background-color: #FF7F50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    flex: 1;
    text-align: center;
}

.card-button:hover {
    background-color: #FF4500;
    transform: translateY(-3px);
}
