body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.card-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    width: 30%;
}

.pokemon-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 250px;
    text-align: center;
    position: relative;
}

.ice {
    background-color: #98D8D8;
}

.psychic {
    background-color: #F85888;
}

.fire {
    background-color: #F08030;
}

.electric {
    background-color: #F8D030;
}

.fairy {
    background-color: #EE99AC;
}

.dark {
    background-color: #705848;
}

.pokemon-image {
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.pokemon-image img {
    max-width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pokemon-name {
    margin: 10px 0 5px;
    font-size: 24px;
    color: #fff;
}

.pokemon-type {
    margin: 5px 0;
    font-size: 18px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.pokemon-description {
    margin: 10px 15px;
    text-align: justify;
    font-size: 14px;
    color: #fff;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    padding: 7px 1px;
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
}

.card-buttons button {
    padding: 7px 10px;
    font-size: 14px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.add-pokemon {
    background-color: #4CAF50;
    color: #fff;
}

.release-pokemon {
    background-color: #F44336;
    color: #fff;
}

.card-buttons button:hover {
    opacity: 0.8;
}
